header.page-header {
    background-color: red; 
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

.wrapper {
    display:flex;
     flex-direction: column;
     height: 100vh;
   }
   .header, 
   .main {
    width: 100vw;
   }
   .header {
     background: red;
     height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
     flex:1;
     /* height: 100vh; */
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .main {
     background: gray;
     flex: 4;
   }
   .card-header {
    background: rgba(51, 51, 167, 0.548)
   }